<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find mulinex_description)/urdf/links.xacro" />
    <xacro:property name="PI" value="3.141592" />

    <xacro:macro name="leg" params="prefix gazebo jnt_pref simplify_meshes wheels">
        <!-- Module 1 -->
        <xacro:hip
            prefix="${prefix}"
            gazebo="${gazebo}"
            jnt_pref="${jnt_pref}"
        />
        <!-- Module 2 link -->
        <xacro:upper_leg
            prefix="${prefix}"
            gazebo="${gazebo}"
            jnt_pref="${jnt_pref}" />
        <!-- Lower leg link -->
        <xacro:lower_leg
            prefix="${prefix}"
            gazebo="${gazebo}"
            jnt_pref="${jnt_pref}"
            simplify_meshes="${simplify_meshes}"
            wheels="${wheels}" />
    </xacro:macro>

</robot>