<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="base_2_HAA_y" value="${81.0 * 0.001}" />
    <xacro:property name="base_2_HAA_x" value="${45.0 * 0.001}" />

    <xacro:property name="HAA_2_HFE_x" value="${190.0 * 0.001}" />
    <xacro:property name="HAA_2_HFE_y" value="${44.0 * 0.001}" />

    <!-- <xacro:property name="base_2_HFE_x" value="${190.00 * 0.001}" /> -->
    <!-- <xacro:property name="base_2_HFE_y" value="${104.60 * 0.001}" /> -->

    <xacro:property name="HFE_2_KFE_x" value="${190.0 * 0.001}" />
    <xacro:property name="HFE_2_KFE_y" value="${44.0 * 0.001}" />

    <xacro:property name="KFE_2_FOOT_x" value="${190.0 * 0.001}" />
    <xacro:property name="KFE_2_FOOT_y" value="${28.0 * 0.001}" />

    <xacro:property name="PI" value="3.141592" />

    <!-- MULINEX VISUALIZATION meshes -->
    <xacro:property name="mulinex_base"
        value="file://$(find mulinex_description)/meshes//Body.stl" />
    <xacro:property name="mulinex_module_left_front"
        value="file://$(find mulinex_description)/meshes//Module_left_front.stl" />
    <xacro:property name="mulinex_module_left_hind"
        value="file://$(find mulinex_description)/meshes//Module_left_hind.stl" />
    <xacro:property name="mulinex_module_2_left"
        value="file://$(find mulinex_description)/meshes//Module_2_left.stl" />
    <xacro:property name="mulinex_lower_leg_left"
        value="file://$(find mulinex_description)/meshes//Lower_leg_left.stl" />
    <xacro:property name="mulinex_module_right_front"
        value="file://$(find mulinex_description)/meshes//Module_right_front.stl" />
    <xacro:property name="mulinex_module_right_hind"
        value="file://$(find mulinex_description)/meshes//Module_right_hind.stl" />
    <xacro:property name="mulinex_module_2_right"
        value="file://$(find mulinex_description)/meshes//Module_2_right.stl" />
    <xacro:property name="mulinex_lower_leg_right"
        value="file://$(find mulinex_description)/meshes//Lower_leg_right.stl" />

    <!--  -->
    <!-- EACH MACRO CONSISTS OF THE LINK AND ITS PREVIOUS JOINT -->
    <!--  -->

    <!-- HIP -->
    <xacro:macro name="hip" params="prefix gazebo jnt_pref ">
        <!-- Transformation based on the position of each link -->
        <xacro:if value="${prefix == 'LF'}">
            <xacro:property name="base_to_hip_xyz" value="${base_2_HAA_x} ${base_2_HAA_y} 0" />
        </xacro:if>
        <xacro:if
            value="${prefix == 'LH'}">
            <xacro:property name="base_to_hip_xyz" value="${-base_2_HAA_x} ${base_2_HAA_y} 0" />
        </xacro:if>
        <xacro:if
            value="${prefix == 'RF'}">
            <xacro:property name="base_to_hip_xyz" value="${base_2_HAA_x} ${-base_2_HAA_y} 0" />
        </xacro:if>
        <xacro:if
            value="${prefix == 'RH'}">
            <xacro:property name="base_to_hip_xyz" value="${-base_2_HAA_x} ${-base_2_HAA_y} 0" />
        </xacro:if>

        <!-- Joint to fix the leg to the base -->
        <joint name="${prefix}_HAA" type="fixed">
            <parent link="${jnt_pref}base_link" />
            <child link="${jnt_pref}${prefix}_SHOULDER" />
            <origin xyz="${base_to_hip_xyz}" rpy="0 0 0" />
        </joint>
        <!-- Shoulder link -->
        <link name="${prefix}_SHOULDER">
            <visual>
                <material name="white" />
                <xacro:if value="${prefix == 'LF'}">
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${mulinex_module_left_front}" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${mulinex_module_left_hind}" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${mulinex_module_right_front}" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${mulinex_module_right_hind}" />
                    </geometry>
                </xacro:if>
            </visual>

            <collision>
                <xacro:if value="${prefix == 'LF'}">
                    <origin xyz="0.0945 0 0" rpy="0 0 0" />
                    <geometry>
                        <!-- <mesh filename="${mulinex_module_left_front}" /> -->
                        <box size="0.269 0.057 0.060" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin xyz="-0.0945 0 0" rpy="0 0 0" />
                    <geometry>
                        <!-- <mesh filename="${mulinex_module_left_hind}" /> -->
                        <box size="0.269 0.057 0.060" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin xyz="0.0945 0 0" rpy="0 0 0" />
                    <geometry>
                        <!-- <mesh filename="${mulinex_module_right_front}" /> -->
                        <box size="0.269 0.057 0.060" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin xyz="-0.0945 0 0" rpy="0 0 0" />
                    <geometry>
                        <!-- <mesh filename="${mulinex_module_right_hind}" /> -->
                        <box size="0.269 0.057 0.060" />
                    </geometry>
                </xacro:if>
            </collision>

            <inertial>
                <mass value="0.47669673" />
                <xacro:if value="${prefix == 'LF'}">
                    <origin
                        xyz="7.2487360e-02 3.1582591e-02 -2.4812434e-03"
                        rpy="0 0 0" />
                    <inertia ixx="2.1574269e-04" ixy="-3.3437484e-05"
                        ixz="-2.4284668e-06" iyy="3.0607390e-03"
                        iyz="-2.0388977e-06" izz="3.0504273e-03" />
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin
                        xyz="-7.2487360e-02 3.1582591e-02 2.4812434e-03"
                        rpy="0 0 0" />
                    <inertia ixx="2.1574269e-04" ixy="3.3437484e-05"
                        ixz="-2.4284668e-06" iyy="3.0607390e-03"
                        iyz="-2.0388977e-06" izz="3.0504273e-03" />
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin
                        xyz="7.2487360e-02 -3.1582591e-02 2.4812434e-03"
                        rpy="0 0 0" />
                    <inertia ixx="2.1574269e-04" ixy="3.3437484e-05"
                        ixz="2.4284668e-06" iyy="3.0607390e-03"
                        iyz="-2.0388977e-06" izz="3.0504273e-03" />
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin
                        xyz="-7.2487360e-02 -3.1582591e-02 -2.4812434e-03"
                        rpy="0 0 0" />
                    <inertia ixx="2.1574269e-04" ixy="-3.3437484e-05"
                        ixz="2.4284668e-06" iyy="3.0607390e-03"
                        iyz="-2.0388977e-06" izz="3.0504273e-03" />
                </xacro:if>
            </inertial>
        </link>
        <xacro:if value="${gazebo}">
            <gazebo reference="${prefix}_SHOULDER">
                <material>Gazebo/White</material>
                <collision>
                    <surface>
                        <friction>
                            <ode>
                                <mu>1</mu>
                                <mu2>1</mu2>
                                <slip1>0</slip1>
                                <slip2>0</slip2>
                            </ode>
                        </friction>
                        <contact>
                            <ode>
                                <kp>1000000.0</kp>
                                <kd>100.0</kd>
                                <min_depth>0.001</min_depth>
                            </ode>
                        </contact>
                    </surface>
                </collision>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- UPPER LEG -->
    <xacro:macro name="upper_leg" params="prefix gazebo jnt_pref">
        <!-- Transformation based on the position of each link -->
        <xacro:if value="${prefix == 'LF'}">
            <xacro:property name="hip_to_upper_leg_xyz" value="${HAA_2_HFE_x} ${HAA_2_HFE_y} 0" />
            <xacro:property name="hip_to_upper_leg_rpy" value="0 0 0" />
            <xacro:property name="axis" value="0 1 0"/>
        </xacro:if>
        <xacro:if
            value="${prefix == 'LH'}">
            <xacro:property name="hip_to_upper_leg_xyz" value="${-HAA_2_HFE_x} ${HAA_2_HFE_y} 0" />
            <xacro:property name="hip_to_upper_leg_rpy" value="0 0 0" />
            <xacro:property name="axis" value="0 1 0" />
        </xacro:if>
        <xacro:if
            value="${prefix == 'RF'}">
            <xacro:property name="hip_to_upper_leg_xyz" value="${HAA_2_HFE_x} ${-HAA_2_HFE_y} 0" />
            <xacro:property name="hip_to_upper_leg_rpy" value="0 0 0" />
            <xacro:property name="axis" value="0 -1 0" />
        </xacro:if>
        <xacro:if
            value="${prefix == 'RH'}">
            <xacro:property name="hip_to_upper_leg_xyz" value="${-HAA_2_HFE_x} ${-HAA_2_HFE_y} 0" />
            <xacro:property name="hip_to_upper_leg_rpy" value="0 0 0" />
            <xacro:property name="axis" value="0 -1 0" />
        </xacro:if>
        <xacro:property name="upper_to_lower_leg_rpy" value="0 0 0" />

        <!-- Hip joint -->
        <joint name="${prefix}_HFE" type="revolute">
            <parent link="${jnt_pref}${prefix}_SHOULDER" />
            <child link="${jnt_pref}${prefix}_UPPER_LEG" />
            <origin xyz="${hip_to_upper_leg_xyz}" rpy="${hip_to_upper_leg_rpy}" />
            <axis xyz="${axis}" />
            <limit effort="2.7" lower="-${PI}" upper="${PI}" velocity="1000" />
            <!-- <dynamics damping="0.7" friction="100.0" /> -->
        </joint>
        <!-- Upper leg link -->
        <link name="${prefix}_UPPER_LEG">
            <visual>
                <material name="white" />
                <xacro:if value="${prefix == 'LF'}">
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${mulinex_module_left_front}" />
                    </geometry>
                </xacro:if>

                <xacro:if value="${prefix == 'LH'}">
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${mulinex_module_left_hind}" />
                    </geometry>
                </xacro:if>

                <xacro:if value="${prefix == 'RF'}">
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${mulinex_module_right_front}" />
                    </geometry>
                </xacro:if>
                
                <xacro:if value="${prefix == 'RH'}">
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="${mulinex_module_right_hind}"/>
                    </geometry>
                </xacro:if>
            </visual>

            <collision>
                <xacro:if value="${prefix == 'LF'}">
                    <origin xyz="0.0945 0.015 0" rpy="0 0 0" />
                    <geometry>
                        <!-- <mesh filename="${mulinex_module_left_front}" /> -->
                        <box size="0.269 0.057 0.060" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin xyz="-0.0945 0.015 0" rpy="0 0 0" />
                    <geometry>
                        <!-- <mesh filename="${mulinex_module_left_hind}" /> -->
                        <box size="0.269 0.057 0.060" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin xyz="0.0945 -0.015 0" rpy="0 0 0" />
                    <geometry>
                        <!-- <mesh filename="${mulinex_module_right_front}" /> -->
                        <box size="0.269 0.057 0.060" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin xyz="-0.0945 -0.015 0" rpy="0 0 0" />
                    <geometry>
                        <!-- <mesh filename="${mulinex_module_right_hind}" /> -->
                        <box size="0.269 0.057 0.060" />
                    </geometry>
                </xacro:if>

            </collision>

            <inertial>
                <mass value="0.47669673" />
                <xacro:if value="${prefix == 'LF'}">
                    <origin
                        xyz="7.2487360e-02 3.1582591e-02 -2.4812434e-03"
                        rpy="0 0 0" />
                    <inertia ixx="2.1574269e-04" ixy="-3.3437484e-05"
                        ixz="-2.4284668e-06" iyy="3.0607390e-03"
                        iyz="-2.0388977e-06" izz="3.0504273e-03" />
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin
                        xyz="-7.2487360e-02 3.1582591e-02 2.4812434e-03"
                        rpy="0 0 0" />
                    <inertia ixx="2.1574269e-04" ixy="3.3437484e-05"
                        ixz="-2.4284668e-06" iyy="3.0607390e-03"
                        iyz="-2.0388977e-06" izz="3.0504273e-03" />
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin
                        xyz="7.2487360e-02 -3.1582591e-02 2.4812434e-03"
                        rpy="0 0 0" />
                    <inertia ixx="2.1574269e-04" ixy="3.3437484e-05"
                        ixz="2.4284668e-06" iyy="3.0607390e-03"
                        iyz="-2.0388977e-06" izz="3.0504273e-03" />
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin
                        xyz="-7.2487360e-02 -3.1582591e-02 -2.4812434e-03"
                        rpy="0 0 0" />
                    <inertia ixx="2.1574269e-04" ixy="-3.3437484e-05"
                        ixz="2.4284668e-06" iyy="3.0607390e-03"
                        iyz="-2.0388977e-06" izz="3.0504273e-03" />
                </xacro:if>
            </inertial>
        </link>
        <xacro:if value="${gazebo}">
            <gazebo reference="${prefix}_UPPER_LEG">
                <material>Gazebo/White</material>
                <collision>
                    <surface>
                        <friction>
                            <ode>
                                <mu>1</mu>
                                <mu2>1</mu2>
                                <slip1>0</slip1>
                                <slip2>0</slip2>
                            </ode>
                        </friction>
                        <contact>
                            <ode>
                                <kp>1000000.0</kp>
                                <kd>100.0</kd>
                                <min_depth>0.001</min_depth>
                            </ode>
                        </contact>
                    </surface>
                </collision>
            </gazebo>
        </xacro:if>
    </xacro:macro>

    <!-- LOWER LEG -->
    <xacro:macro name="lower_leg" params="prefix gazebo jnt_pref simplify_meshes wheels">
        <!-- Transformation based on the position of each link -->
        <xacro:if value="${prefix == 'LF'}">
            <xacro:property name="upper_to_lower_leg_xyz" value="${HFE_2_KFE_x} ${HFE_2_KFE_y} 0" />
            <xacro:property name="axis" value="0 1 0" />
        </xacro:if>
        <xacro:if
            value="${prefix == 'LH'}">
            <xacro:property name="upper_to_lower_leg_xyz" value="${-HFE_2_KFE_x} ${HFE_2_KFE_y} 0" />
            <xacro:property name="axis" value="0 1 0" />
        </xacro:if>
        <xacro:if
            value="${prefix == 'RF'}">
            <xacro:property name="upper_to_lower_leg_xyz" value="${HFE_2_KFE_x} ${-HFE_2_KFE_y} 0" />
            <xacro:property name="axis" value="0 -1 0" />
        </xacro:if>
        <xacro:if
            value="${prefix == 'RH'}">
            <xacro:property name="upper_to_lower_leg_xyz" value="${-HFE_2_KFE_x} ${-HFE_2_KFE_y} 0" />
            <xacro:property name="axis" value="0 -1 0" />
        </xacro:if>
        <xacro:property name="upper_to_lower_leg_rpy" value="0 0 0" />

        <!-- Knee joint -->
        <joint name="${prefix}_KFE" type="revolute">
            <parent link="${jnt_pref}${prefix}_UPPER_LEG" />
            <child link="${jnt_pref}${prefix}_LOWER_LEG" />
            <origin xyz="${upper_to_lower_leg_xyz}" rpy="${upper_to_lower_leg_rpy}" />
            <axis xyz="${axis}" />
            <limit effort="2.7" lower="-${PI}" upper="${PI}" velocity="1000" />
            <!-- <dynamics damping="0.7" friction="100.0" /> -->
        </joint>
        <!-- Lower leg link -->
        <link name="${prefix}_LOWER_LEG">
            <visual>
                <material name="white" />
                <xacro:if value="${prefix == 'LF'}">
                    <origin xyz="0 0 0" rpy="0 ${-PI/2} 0" />
                    <geometry>
                        <mesh filename="${mulinex_lower_leg_left}" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin xyz="0 0 0" rpy="0 ${PI/2} 0" />
                    <geometry>
                        <mesh filename="${mulinex_lower_leg_left}" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin xyz="0 0 0" rpy="0 ${-PI/2} 0" />
                    <geometry>
                        <mesh filename="${mulinex_lower_leg_right}" />
                    </geometry>
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin xyz="0 0 0" rpy="0 ${PI/2} 0" />
                    <geometry>
                        <mesh filename="${mulinex_lower_leg_right}" />
                    </geometry>
                </xacro:if>
            </visual>
            <collision name="${prefix}_LOWER_LEG">
                <!-- Real meshes -->
                <xacro:unless value="${simplify_meshes}">
                    <xacro:if value="${prefix == 'LF'}">
                        <origin xyz="0 0 0" rpy="0 ${-PI/2} 0" />
                        <geometry>
                            <mesh filename="${mulinex_lower_leg_left}" />
                        </geometry>
                    </xacro:if>
                    <xacro:if value="${prefix == 'LH'}">
                        <origin xyz="0 0 0" rpy="0 ${PI/2} 0" />
                        <geometry>
                            <mesh filename="${mulinex_lower_leg_left}" />
                        </geometry>
                    </xacro:if>
                    <xacro:if value="${prefix == 'RF'}">
                        <origin xyz="0 0 0" rpy="0 ${-PI/2} 0" />
                        <geometry>
                            <mesh filename="${msphereulinex_lower_leg_right}" />
                        </geometry>
                    </xacro:if>
                    <xacro:if value="${prefix == 'RH'}">
                        <origin xyz="0 0 0" rpy="0 ${PI/2} 0" />
                        <geometry>
                            <mesh filename="${mulinex_lower_leg_right}" />
                        </geometry>
                    </xacro:if>
                </xacro:unless>
                <!-- Simplified meshes -->
                <xacro:if value="${simplify_meshes}">
                    <xacro:if value="${prefix == 'LF'}">
                        <origin xyz="0.096 0.012 0.0" rpy="0 ${-PI/2} 0" />
                        <geometry>
                            <box size="0.032 0.024 0.192" />
                        </geometry>
                    </xacro:if>
                    <xacro:if value="${prefix == 'LH'}">
                        <origin xyz="-0.096 0.012 0.0" rpy="0 ${PI/2} 0" />
                        <geometry>
                            <box size="0.032 0.024 0.192" />
                        </geometry>
                    </xacro:if>
                    <xacro:if value="${prefix == 'RF'}">
                        <origin xyz="0.096 -0.012 0.0" rpy="0 ${-PI/2} 0" />
                        <geometry>
                            <box size="0.032 0.024 0.192" />
                        </geometry>
                    </xacro:if>
                    <xacro:if value="${prefix == 'RH'}">
                        <origin xyz="-0.096 -0.012 0.0" rpy="0 ${PI/2} 0" />
                        <geometry>
                            <box size="0.032 0.024 0.192" />
                        </geometry>
                    </xacro:if>
                </xacro:if>
            </collision>
            <inertial>
                <mass value="0.046942" />
                <xacro:if value="${prefix == 'LF'}">
                    <origin
                        xyz="0.0660893 0.0198901 -1.552593e-05"
                        rpy="0 0 0" />
                    <inertia ixx="5.140780e-06" ixy="1.089102e-05"
                        ixz="2.468115e-08" iyy="0.00021242"
                        iyz="2.702972e-09" izz="0.00021154" />
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin
                        xyz="-0.0660893 0.0198901 1.552593e-05"
                        rpy="0 0 0" />
                    <inertia ixx="5.140780e-06" ixy="-1.089102e-05"
                        ixz="2.46811e-08" iyy="0.0002124295"
                        iyz="-2.702972e-09" izz="0.0002115478" />
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin
                        xyz="0.0660893 -0.0198901 -1.552593e-05"
                        rpy="0 0 0" />
                    <inertia ixx="5.140780e-06" ixy="1.089102e-05"
                        ixz="-2.468115e-08" iyy="0.00021242"
                        iyz="-2.702972e-09" izz="0.00021154" />
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin
                        xyz="-0.0660893 -0.0198901 1.552593e-05"
                        rpy="0 0 0" />
                    <inertia ixx="5.140780e-06" ixy="-1.089102e-05"
                        ixz="-2.46811e-08" iyy="0.0002124295"
                        iyz="2.702972e-09" izz="0.0002115478" />
                </xacro:if>
            </inertial>
        </link>
        <xacro:if value="${gazebo}">
            <gazebo reference="${prefix}_LOWER_LEG">
                <material>Gazebo/White</material>
                <collision>
                    <surface>
                        <friction>
                            <ode>
                                <mu>0.6</mu>
                                <mu2>0.6</mu2>
                                <slip1>0</slip1>
                                <slip2>0</slip2>
                            </ode>
                        </friction>
                        <contact>
                            <ode>
                                <kp>10000.0</kp>
                                <kd>100.0</kd>
                                <min_depth>0.001</min_depth>
                            </ode>
                        </contact>
                    </surface>
                </collision>
            </gazebo>
        </xacro:if>
        <!-- Include wheels -->
        <xacro:if value="${wheels}">
            <joint name="${prefix}_ANKLE" type="continuous">
                <parent link="${prefix}_LOWER_LEG" />
                <child link="${prefix}_WHEEL" />
                <xacro:if value="${prefix == 'LF'}">
                    <origin xyz="${KFE_2_FOOT_x} ${KFE_2_FOOT_y} 0" rpy="0 0 0" />
                    <axis xyz="0 1 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin xyz="${-KFE_2_FOOT_x} ${KFE_2_FOOT_y} 0" rpy="0 0 0" />
                    <axis xyz="0 1 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin xyz="${KFE_2_FOOT_x} ${-KFE_2_FOOT_y} 0" rpy="0 0 0" />
                    <axis xyz="0 1 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin xyz="${-KFE_2_FOOT_x} ${-KFE_2_FOOT_y} 0" rpy="0 0 0" />
                    <axis xyz="0 1 0" />
                </xacro:if>
            </joint>

            <link name="${prefix}_WHEEL">
                <visual>
                    <material name="white" />
                    <origin xyz="0 0 0" rpy="${PI/2} 0 0" />
                    <geometry>
                        <cylinder length="0.10" radius="0.015" />
                    </geometry>
                </visual>
                <xacro:if value="${simplify_meshes}">
                    <collision>
                        <origin xyz="0 0 0" rpy="${PI/2} 0 0" />
                        <geometry>
                            <cylinder length="0.10" radius="0.015" />
                        </geometry>
                    </collision>
                </xacro:if>
            </link>
            <xacro:if value="${gazebo}">
                <gazebo reference="${prefix}_WHEEL">
                    <material>Gazebo/White</material>
                    <collision>
                        <surface>
                            <friction>
                                <ode>
                                    <mu>0.6</mu>
                                    <mu2>0.6</mu2>
                                    <slip1>0</slip1>
                                    <slip2>0</slip2>
                                </ode>
                            </friction>
                            <contact>
                                <ode>
                                    <kp>10000.0</kp>
                                    <kd>100.0</kd>
                                    <min_depth>0.001</min_depth>
                                </ode>
                            </contact>
                        </surface>
                    </collision>
                    <sensor name="${prefix}_contactsensor_sensor" type="contact">
                        <always_on>true</always_on>
                        <update_rate>50</update_rate>
                        <contact>
                            <collision>
                                ${prefix}_LOWER_LEG_fixed_joint_lump__${prefix}_FOOT_collision_1</collision>
                        </contact>

                    </sensor>
                </gazebo>
            </xacro:if>

            <joint name="${prefix}_DIRECTION" type="fixed">
                <parent link="${prefix}_WHEEL" />
                <child link="${prefix}_INDICATOR" />
                <xacro:if value="${prefix == 'LF'}">
                    <origin xyz="0 0.0501 0" rpy="0 0 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin xyz="0 0.0501 0" rpy="0 0 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin xyz="0 -0.0501 0" rpy="0 0 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin xyz="0 -0.0501 0" rpy="0 0 0" />
                </xacro:if>
            </joint>

            <link name="${prefix}_INDICATOR">
                <visual>
                    <origin xyz="0 0 0.0075" rpy="0 0 0" />
                    <geometry>
                        <box size="0.004 0.0001 0.015" />
                    </geometry>
                    <material name="red" />
                </visual>
            </link>
        </xacro:if>
        <!-- Without wheels -->
        <xacro:unless value="${wheels}">
            <joint name="${prefix}_ANKLE" type="fixed">
                <parent link="${prefix}_LOWER_LEG" />
                <child link="${prefix}_FOOT" />

                <xacro:if value="${prefix == 'LF'}">
                    <origin xyz="${KFE_2_FOOT_x} ${KFE_2_FOOT_y} 0" rpy="0 0 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'LH'}">
                    <origin xyz="${-KFE_2_FOOT_x} ${KFE_2_FOOT_y} 0" rpy="0 0 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'RF'}">
                    <origin xyz="${KFE_2_FOOT_x} ${-KFE_2_FOOT_y} 0" rpy="0 0 0" />
                </xacro:if>
                <xacro:if value="${prefix == 'RH'}">
                    <origin xyz="${-KFE_2_FOOT_x} ${-KFE_2_FOOT_y} 0" rpy="0 0 0" />
                </xacro:if>


            </joint>

            <link name="${prefix}_FOOT">
                <xacro:if value="${simplify_meshes}">
                    <collision>
                        <origin xyz="0 0 0" rpy="0 0 0" />
                        <geometry>
                            <sphere radius="0.015" />
                        </geometry>
                    </collision>
                </xacro:if>
            </link>
            <xacro:if value="${gazebo}">
                <gazebo reference="${prefix}_FOOT">
                    <material>Gazebo/White</material>
                    <collision>
                        <surface>
                            <friction>
                                <ode>
                                    <mu>0.6</mu>
                                    <mu2>0.6</mu2>
                                    <slip1>0</slip1>
                                    <slip2>0</slip2>
                                </ode>
                            </friction>
                            <contact>
                                <ode>
                                    <kp>10000.0</kp>
                                    <kd>100.0</kd>
                                    <min_depth>0.001</min_depth>
                                </ode>
                            </contact>
                        </surface>
                    </collision>
                    <sensor name="${prefix}_contactsensor_sensor" type="contact">
                        <always_on>true</always_on>
                        <update_rate>50</update_rate>
                        <contact>
                            <collision>
                                ${prefix}_LOWER_LEG_fixed_joint_lump__${prefix}_FOOT_collision_1</collision>

                        </contact>

                    </sensor>
                </gazebo>
            </xacro:if>
        </xacro:unless>
    </xacro:macro>

</robot>