<?xml version="1.0"?>
<robot name="mulinex" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find mulinex_description)/urdf/links.xacro" />
    <xacro:include filename="$(find mulinex_description)/urdf/leg.xacro" />
    <xacro:include filename="$(find mulinex_description)/urdf/material.xacro" />
   
    <xacro:property name="use_gazebo" value="true" />
    <xacro:property name="simplify_meshes_lower_leg" value="true"/>
    <xacro:property name="add_wheels" value="false"/>
    <xacro:property name="jnt_prefix" value="" />
    <xacro:property name="hind_haa" value="0.0" />
    <xacro:property name="hind_hfe" value="0.0" />
    <xacro:property name="hind_kfe" value="0.0" />
    <xacro:property name="front_haa" value="0.0" />
    <xacro:property name="front_hfe" value="0.0" />
    <xacro:property name="front_kfe" value="0.0" />

    <link name="${jnt_prefix}base_link">
        <visual>
            <material name="white" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="${mulinex_base}" />
                <!-- <box size="0.353 0.090 0.066" /> -->
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.353 0.090 0.066" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1.3008737" />
            <origin xyz="-1.4565496e-03 -2.5110071e-03 -4.2484136e-03" rpy="0 0 0" />
            <inertia ixx="4.0762590e-03" ixy="-2.5234809e-05" ixz="-3.2587794e-06"
                iyy="9.2413606e-03" iyz="-8.0660183e-06"
                izz="1.2268730e-02" />
        </inertial>
    </link>

    <xacro:leg
        prefix="LH"
        gazebo="${use_gazebo}"
        jnt_pref="${jnt_prefix}"
        simplify_meshes="${simplify_meshes_lower_leg}" 
        wheels="${add_wheels}" />
    <xacro:leg
        prefix="LF"
        gazebo="${use_gazebo}"
        jnt_pref="${jnt_prefix}"
        simplify_meshes="${simplify_meshes_lower_leg}"
        wheels="${add_wheels}" />
    <xacro:leg
        prefix="RF"
        gazebo="${use_gazebo}"
        jnt_pref="${jnt_prefix}"
        simplify_meshes="${simplify_meshes_lower_leg}"
        wheels="${add_wheels}" />
    <xacro:leg
        prefix="RH"
        gazebo="${use_gazebo}"
        jnt_pref="${jnt_prefix}"
        simplify_meshes="${simplify_meshes_lower_leg}"
        wheels="${add_wheels}" />

    <xacro:if value="${use_gazebo}">
        <gazebo reference="base_link">
            <material>Gazebo/White</material>
        </gazebo>
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>$(find mulinex_gazebo)/config/mulinex_gazebo_sim_jnt_PD_IMU.yaml</parameters>
            </plugin>
        </gazebo>

        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="LH_HAA">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">-${hind_haa}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="LH_HFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${hind_hfe}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="LH_KFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${hind_kfe}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="LF_HAA">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">-${front_haa}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="LF_HFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${front_hfe}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="LF_KFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${front_kfe}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="RH_HAA">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${hind_haa}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="RH_HFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${hind_hfe}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="RH_KFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${hind_kfe}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="RF_HAA">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${front_haa}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="RF_HFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${front_hfe}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
            <joint name="RF_KFE">
                <command_interface name="effort" />
                <state_interface name="position">
                    <param name="initial_value">${front_kfe}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort" />
            </joint>
        </ros2_control>
        <gazebo reference="base_link">
            <sensor name="br_imu" type="imu">
                <always_on>true</always_on>
                <update_rate>100</update_rate>
                <imu>
                <angular_velocity>
                    <x>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                    </noise>
                    </x>
                    <y>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                    </noise>
                    </y>
                    <z>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                    </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                    </noise>
                    </x>
                    <y>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                    </noise>
                    </y>
                    <z>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                    </noise>
                    </z>
                </linear_acceleration>
                </imu>
                <plugin name="bytes_imu" filename="libgazebo_ros_imu_sensor.so">
                    <ros>
                        <namespace>imu</namespace>
                        <remapping>~/out:=data</remapping>
                    </ros>
                    <initial_orientation_as_reference>false</initial_orientation_as_reference>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:if>
    <xacro:unless value="${use_gazebo}">
        <!-- <ros2_control name="SOLO12_WB_Interface" type="system">
            <hardware>
                <plugin>solo12_interface/SOLO12_WB_Interface</plugin>
                <param name="timeout">100</param>
                <param name="command_type">0</param>
                <param name="Kp_F">0.0</param>
                <param name="Kv_F">0.0</param>
                <param name="Kp_H">0.0</param>
                <param name="Kv_H">0.0</param>
                <param name="I_saturation">12.0</param>
            </hardware>
        </ros2_control> -->
        <!--<ros2_control name="SOLO12_Leg_Interface" type="system">
            <hardware>
                <plugin>solo12_interface/SOLO12_Leg_Interface</plugin>
                <param name="timeout" >100</param>
                <param name="command_type" >0</param>
                <param name="Kp" >10.0</param>
                <param name="Kv" >0.5</param>
                <param name="I_saturation" >10.0</param>
            </hardware>
        </ros2_control>-->
    </xacro:unless>
</robot>
